version: '3'
services:
  dev:
    build: dev
    environment:
      DISPLAY: $DISPLAY
    volumes:
      - ~/.ssh:/home/node/.ssh
      - ~/.gitconfig:/home/node/.gitconfig
      - .zsh_history:/home/node/.zsh_history
      - /boxes/.atom:/home/node/.atom
      - codevolume:/code
      - /tmp/.X11-unix:/tmp/.X11-unix
